---
// FIXME: Simplify imports
import "@effective/css-reset/dist/assets/ResetNative.css"
import "@effective/css-reset/dist/assets/SensibleEnhancements.css"
import "@effective/css-reset/dist/assets/ResponsiveType.css"
import favIcon from "../assets/favicon.svg"
import wernerLogo from "../assets/werner.svg"
import { rootClass, headerClass, footerClass, mainClass } from "./Layouts.css"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Werner Dienstleistungs eG (In Gründung)" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favIcon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class={rootClass}>
      <header class={headerClass}>
        <a href="/"><img src={wernerLogo.src} alt="Werner Dienstleistungs eG (In Gründung)" width="400" /></a>
      </header>
      <main class={mainClass}>
        <slot />
      </main>
      <footer class={footerClass}>
        <p>
          &copy; 2024 Werner Dienstleistungs eG | <a href="./imprint">Impressum</a>
        </p>
      </footer>
    </div>
  </body>
</html>
